
body{
    font-family: 'Ubuntu', sans-serif;
}

.namehighlight{
    color: gold;
}

.half-width{
    border: 10px solid ;
    width: 40%;
    float: left;
    margin: 2%;
    padding: 2%;}
    
    .half-width{
        padding-top: 100px;
       
    }
.text{
    height: 500px;
}
.half-width img{
    max-width: 100%;
    height:500px;
    
}
.top{
    border: 10px solid;
    background-image: url("images/header.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 105vh;
    padding: 2%;
}
.button{
   
    text-decoration: none;
    background-image: linear-gradient(blue,orange);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;

} 
.low{
    border: 10px solid;
    background-image: url("images/bio.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100%;
}
.middle{
    text-align: center;
}
.work{
    border: 10px solid;
    width: 28%;
    float: left;
    margin: 1%;
    padding: 1%;
   

}
.workimg{
    

}