
body{
    font-family: 'Ubuntu', sans-serif;
}

.namehighlight{
    color: gold;
}

.half-width{
    border: 10px solid ;
    width: 40%;
    float: left;
    margin: 2%;
    padding: 2%;
}
.topper{
    height: 100vh;
    max-width: 100%;
}

.text{
    
    height: 500px;
}
.img{
    max-width: 100%;
    height: 500px;
    
}