
body{
    font-family: 'Ubuntu', sans-serif;
}

.namehighlight{
    color: gold;
}

.half-width{
   
    width: 40%;
    float: left;
    margin: 2%;
    padding: 2%;}
    
    .half-width{
        padding-top: 100px;
       
    }
.text{
    height: 500px;
}
.half-width img{
    max-width: 100%;
    height:500px;
    
}
.top{
    
    background-image: url("images/header.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 105vh;
    padding: 2%;
}
.button{
   
    text-decoration: none;
    background-image: linear-gradient(hotpink,purple);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;

} 
.low{
  
    background-image: url("images/bio.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100%;
}
.middle{
    text-align: center;
}
.work{
    border: 10px solid;
    width: 28%;
    height: 200px;
    float: left;
    margin: 1%;
    padding: 1%;
}

.working{
    border: 10px solid red ;
    width: 100hv;

    padding-top:500px;
    padding-left: 180px;
   
}
.imgs img{
    border: 10px solid;
    float: left;
    width: 26%;
    height: 100%;
    padding: 30px 20px;
}
.founder{
   color: gray;
}
.last{
    width: 600px;
    /* border: 10px solid; */
    padding-left: 450px;
}
.mail{
    width: 400px;
    background-color: hotpink;
    border-radius: 7px;
}
.email{
    padding-left: 550px;
}
.working{
    background-image: url("images/latest-work-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 105vh;
    padding: 2%;
}

.end{
      
    background-image: url("images/header.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 105vh;
    padding: 2%;
}